.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	padding: 0.9rem 10px !important;
}
@media (max-width: 911px) {
	.navbar-expand-lg .navbar-nav:first-child {
		height: 450px;    
		overflow-y: overlay;
	}
    .navbar-nav{
        padding: 0 1rem;
	}
}
     
@media (min-width: 991.98px){
	.navbar{
		height: 4rem;
	}
	.collapse .navbar-nav{
		height: 61px;
	}
	.nav-item.active:before{
	    content: "";
	    width: 30px;
	    height: 30px;
	    border-style: solid;
	    border-width: 25px 25px 20px 25px;
	    border-color: #ffffff #08080800 transparent #6a00ff00;
	    position: absolute;
	    margin-top: 3.3rem;
	    margin-left: 1rem;
	}
	.imgEquipo {
	    border-radius: 100px;
	    margin-bottom: 2rem;
	    position: relative;
	}	
}
.blog-entry {
  .text {
    margin-bottom: 1rem !important;
    height: 14.5rem;
     overflow-y: hidden;
    .heading {
        font-size: 20px !important;
        font-weight: 400 !important;
        max-height: 85px !important;
        overflow: hidden !important;
        
    }
  }
}
.heading-section{
	h2:hover{
	    color: #4697ed;
    	text-decoration: unset;
	    cursor: pointer;
	}
	h2{
		a{
	    	color: black;
	    }
	    a:hover{
	    	color: #4697ed;
	    	text-decoration: unset;
		    cursor: pointer;
	    }
	}
}
.page-item--disabled{
  	cursor: no-drop;
	pointer-events: none;
	display: none;
    cursor: no-drop;
}
.block-27 ul li.active a{
	background: #aac1d8;
}
.block-27 ul li:hover a{
	background: #d2dbe4;
}
.block-27 ul li.page-item--disabled:hover {
	cursor: no-drop;
}
.nav-item{
	&.active{
		&.nav-shadow{
			box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.15) !important;
		}
	}
}

@media (min-width: 1200px){
	.txtEquipo {
	    font-size: 1.1rem;
	}
}
@media (min-width: 992px){
	.txtEquipo {
	    font-size: 1rem;
	}
}
@media (min-width: 768px){
	.txtEquipo {
	    font-size: .9rem;
	}
}
@media (min-width: 568px){
	.txtEquipo {
	    font-size: .8rem;
	}
}
.txtEquipo {
    color: white;
    text-align: center;
    font-size: .6rem;
}
.overlay-personal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    background-color: rgba(90, 146, 205, .5);
    clip-path: circle(50.0% at 50% 0);
    -webkit-clip-path: circle(50.0% at 50% 0);
    -moz-clip-path: circle(50.0% at 50% 0);
    -ms-clip-path: circle(50.0% at 50% 0);
    &.altura {
	    height: 58%;
	}
}
img.imgEquipo{
    height: 10rem;
    width: 10rem;
}
.txtEquipo{
    font-size: .9rem;
    padding-top: .7rem;
}
.overlay-personal a{
    padding: 0rem .4rem;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50rem;
    color: #000000;
}
.basic-info img{
    height: 4rem;
}
.basic-info img.mision{
    padding-left: 0.65rem;
}
 .popover{
    width: 100rem !important;
}
.heading-section a:hover{
    padding-left: 10px
}
.teacher-details .img{
	height: 500px;
}
.contact-info{
    font-size: larger;
}

#publications{
	.card-img-top{
        padding: 0rem 2rem;
        height: 12rem;
		&.overlay{
            position: absolute;
    		background: #6969699e;
    		display: none;
        	border-style: none;
    		padding: 4rem;
    		a{
	           margin: .5rem
        	}
        }
    }
    .card-title{
        height: 84px;
        overflow: hidden;
    }
    .card{
    	&:hover{
    		.card-img-top{
    			&.overlay{
            		display: block;
            	}
        	}
    	}
    }
}

//
// ABOUT US //
//
    
.et_pb_fullwidth_section {
    padding: 0;
}
.et_pb_section {
    position: relative;
    background-color: #fff;
    background-position: center;
    -webkit-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: 100%;
    -moz-background-size: cover;
    background-size: 100%;
    background-size: cover;
}

.et_pb_section_1{
    &.et_pb_section {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1350px){
    .et_pb_fullwidth_section {
        padding: 0;
    }
    .et_pb_section {
        padding: 54px 0;
    }
}

@media (min-width: 981px)
{
    .et_pb_fullwidth_section {
        padding: 0;
    }
    .et_pb_section {
        padding: 4% 0;
    }
}

.et_pb_fullwidth_header{
    padding-bottom: 0;
    position: relative;
    background-position: center center;
    background-size: cover;
    &.et_pb_fullwidth_header_0 {
        background-color: #ffffff;
    } 
    .et_pb_fullwidth_header_container{
        position: relative;
        z-index: 3;
        max-width: 1080px;
        margin-right: auto;
        margin-left: auto;
        &.center {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            .header-content-container{
                width: 100%;
                -webkit-align-self: center;
                -moz-align-self: center;
                -ms-align-self: center;
                align-self: center;
                &.center{
                    -webkit-align-self: center;
                    -moz-align-self: center;
                    -ms-align-self: center;
                    align-self: center;
                }
            }
            .header-content {
                width: 80%;
                max-width: 800px;
                margin: 20px auto;
            }
        }
        .center{
            .header-content {
                width: 100%;
            }
        }
    }
    .header-content {
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
        padding-top: 10px;
        padding: 10px;
        text-align: justify;
        h1 {
            font-size: 2em;
            text-align: center;
            text-transform: uppercase;
            word-break: break-word;
            font-weight: 600
        }
    }
}
.et_pb_module {
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.et_pb_text_align_center {
    text-align: center;
}


.et_pb_fullwidth_header .et_pb_fullwidth_header_container .header-content .et_pb_module_header {
    padding-bottom: 0;
}
.et_pb_fullwidth_header .header-content h1:after {
    content: "";
    display: block;
    width: 63%;
    height: 5px;
    margin: .1em auto 1.2em auto;
    background-color: #3331b3;
    filter: opacity(0.9);
}







.et_pb_section_2.et_pb_section {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 54px;
    padding-left: 0px;
}
@media (min-width: 981px)
{
    .et_pb_section {
        padding: 4% 0;
    }
}

.et_pb_section {
    position: relative; 
    background-color: #fff; 
}
.et_pb_section, .et_pb_slider .et_pb_slide {
    background-position: center;
    -webkit-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: 100%;
    -moz-background-size: cover;
    background-size: 100%; 
    background-size: cover;
}



.et_full_width_page:not(.et-fb) #et-main-area #main-content .entry-content .et_section_regular .et_pb_row, .et_full_width_page:not(.et-fb) #et-main-area #main-content .entry-content .et_section_specialty .et_pb_row {
    width: 80%;
}
.et_full_width_page #et-main-area #main-content .entry-content .et_section_regular .et_pb_row {
    max-width: 1405px !important;
}
.et_pb_row {
    max-width: none !important;
}
@media (min-width: 981px)
{
    .et_pb_row {
        padding: 2% 0;
    }
}

.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.et_pb_row {
    position: relative;
    max-width: 1080px;
    margin: auto;
}






.et_pb_row .et_pb_column.et-last-child, .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column.et-last-child, .et_pb_row_inner .et_pb_column:last-child {
    margin-right: 0!important;
}
@media (min-width: 981px)
{
    .et_pb_row .et_pb_column.et-last-child, .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column.et-last-child, .et_pb_row_inner .et_pb_column:last-child {
        margin-right: 0!important;
    }
}

@media (min-width: 981px){
    .et_pb_column_4_4, .et_pb_row .et_pb_column_4_4 {
        width: 100%;
    }
}

@media (min-width: 981px)
{
    .et_pb_column, .et_pb_row .et_pb_column {
        margin-right: 5.5%;
    }
}

.et_pb_column_0 {
    z-index: 9;
    position: relative;
}
.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.et_pb_css_mix_blend_mode_passthrough {
    mix-blend-mode: unset!important;
}
.et_pb_column {
    /*float: left*/
    position: relative;
    z-index: 9;
    background-position: center;
    background-size: cover;
}




.et_pb_cif_horizontal_blurb {
    display: table;
    margin: 0 auto;
}
.et_pb_module {
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s;
}
.et_pb_module {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-width: 981px)
{
    .et_pb_column_4_4 .et_pb_module, .et_pb_row .et_pb_column_4_4 .et_pb_module {
        margin-bottom: 2.75%;
    }
}



.et_pb_module_inner {
    position: relative;
}

@media (min-width: 981px){
    .et_pb_section .et_pb_row .et_pb_column .et_pb_module:last-child{
        margin-bottom: 0;
    }
}

@media (min-width: 981px){
    .et_pb_column_4_4 .et_pb_module, .et_pb_row .et_pb_column_4_4 .et_pb_module {
        margin-bottom: 2.75%;
    }
}
.et_pb_cif_horizontal_blurb {
    display: table;
    margin: 0 auto;
}
.et_pb_module {
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-duration: .2s;
}
.et_pb_module {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}





.et_pb_blurb_content {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 981px)
{
    .col-12 .et_pb_cif_horizontal_blurb .et_pb_blurb_content {
        max-width: 1024px;
    }
    .col-lg-9.col-md-8  .et_pb_cif_horizontal_blurb .et_pb_blurb_content {
        max-width: 900px;
    }
}
.et_pb_blurb_content {
    word-wrap: break-word;
}




.et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container {
    display: block;
}
@media (min-width: 981px)
{
    .et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container {
        display: table-row;
    }
}



.et_pb_cif_horizontal_blurb.et_pb_blurb_url .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header {
    transition: all 0.15s ease-in-out;
}

.et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header {
    width: 100%;
    display: block;
    font-size: 1.7em;
    text-transform: uppercase;
    color: #787878;
    padding: 0;
}
@media (min-width: 981px){
    .col-12 .et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header {
        width: 12%;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        border-right: 5px solid #4746bb;
        padding: 1em;
        padding-left: 0rem
    }
    .col-lg-9.col-md-8 .et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header {
        width:  14%;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        border-right: 5px solid #4746bb;
        padding: 1em;
        padding-left: 0rem
    }
}
.et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container .et_pb_module_header a{
    display: block;
    word-break: break-word;
    color: #1b212c;
}
.et_pb_blurb .et_pb_module_header a, .et_pb_blurb h4 a {
    text-decoration: none;
}


.et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container hr {
    margin: 1.5em auto;
    background-color: #4746bb;
    height: 5px;
    transition: all 0.15s ease-in-out;
    border: 0;
}
@media (min-width: 981px){
    .et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container hr {
        display: none;
    }
}

.et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container .et_pb_blurb_description {
    width: 100%;
    display: block;
    text-align: justify;
}
@media (min-width: 981px){
    .et_pb_cif_horizontal_blurb .et_pb_blurb_content .et_pb_blurb_container .et_pb_blurb_description {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        padding: 1em;
    }
}
nav.menu {
    --duration: .5s;
    --easing: ease-in-out;
    position: relative;
    width: 220px;
    margin: 20px;
}
nav.menu ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #d8d5d5;
}
nav.menu.closed ol , nav.menu ol.sub-menu {
    border: transparent;
}
nav.menu li {
    margin: -4px 0 0 0;
}
nav.menu a {
    display: block;
    text-decoration: none;
    background: #fff;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    border-radius: 4px;
    padding: 1em 1.52em;
    color: #302ea1 !important;
    transition: padding ease 0.3s;
}
nav.menu a:hover {
    padding-left: 2rem;
    color: black !important;
    background: linear-gradient(to right, #dcd5d5 0%, #3633bd 100%);
}
nav.menu .sub-menu a {
    font-size: .9em;
    color: #666666;
    border-left: 2em solid white;
    padding: .75em;
    background: linear-gradient(to right, #dddddd 2px, #ffffff 2px);
}
nav.menu .sub-menu a:hover {
    background: linear-gradient(to right, #dddddd 2px, #efefef 2px);
}
nav.menu header {
    font-weight: 600;
    display: block;
    background: rgba(160, 154, 154, 0.41);
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
    transition-delay: var(--delay-out);
    padding: 1em 1.52em;
    background: linear-gradient(to right, #0c0c0c 0%, #3633bd 100%);
    color: white !important;
}
nav.menu.closed header {
    background: transparent;
}
nav.menu header span {
    border: none;
    background: transparent;
    font-size: 1.5em;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    float: right;
}
nav.menu footer button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: calc(1em - 2px);
    width: 100%;
    transform-origin: 0 0;
    transition: transform var(--duration) var(--easing);
    transition-delay: calc(var(--duration) + (.1s * (var(--count) / 2)));
    cursor: pointer;
    outline: none;
    background: #cdcdcd;
    opacity: 0;
}
nav.menu.closed{
    margin-left: 0px
}
nav.menu.closed a,
nav.menu.closed header {
    transform: translateY(calc(var(--top) * -1)) scaleY(0.1) scaleX(0.2);
    transition-delay: var(--delay-in);
    color: transparent;
    background-color: #4746bb;
}
nav.menu.closed footer button {
    transition-delay: 0s;
    width: 30%;
    opacity: unset;
    color: #ffffff;
    background: #2d2b99;
}
nav.menu.closed footer button span {
    color: #ffffff;
}

#about_us{
    &.ftco-section-parallax{
        .parallax-img{
            background: linear-gradient(to right, #0c0c0c 0%, #3633bd 100%);
        }
    }
    &.nav-item.active > a{
        color: #3533ba !important;
    }
}

#publications{
    &.ftco-section-parallax{
        .parallax-img{
            background: linear-gradient(to right, #0c0c0c 0%, #d0473d 100%);
        }
    }
    &.nav-item.active > a{
        color: #b53f36 !important;
    }
}

#events{
    &.ftco-section-parallax{
        .parallax-img{
            background: linear-gradient(to right, #0c0c0c 0%, #26e045 100%);
        }
    }
    &.nav-item.active > a{
        color: #22be3c !important;
    }
}
#news{
    &.ftco-section-parallax{
        .parallax-img{
            background: linear-gradient(to right, #0c0c0c 0%, #ffc107 100%);
        }
    }
    &.nav-item.active > a{
        color: #d6a208 !important;
    }
    
}

#personal{
    &.ftco-section-parallax{
        .parallax-img{
            background: linear-gradient(to right, #0c0c0c 0%, #9c27b0 100%);
        }
    }
    &.nav-item.active > a{
        color: #7f218f !important;
    }
}

#galery{
    &.ftco-section-parallax{
        .parallax-img{
            background: linear-gradient(to right, #0c0c0c 0%, #e91e63 100%);
        }
    }
    &.nav-item.active > a{
        color: #e91e63 !important;
    }
}
#content{
    padding-top: 1.8rem;
    padding-left: 5rem;
}
#content.col-md-8.col-lg-9 {
    padding-top: 1.8rem
}
