#table-list td a {
  text-align: center;
}
#table-list td {
  border-color: #f6f6f6;
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
}
#table-list thead th, #table-list tfoot th{
  border-color: #E9E9E9;
  font-weight: 500;
}

#table-list th {
  font-weight: 400;
  text-align: center;
  color: #555555;
}
.btn-default:hover {
  color: #636b6f !important;
  background-color: #fff !important;
  border-color: #ccc !important;
}
#edit_action .admin-section {
  margin-top: 20px;
  margin-bottom: 50px;
}
#edit_action p {
  font-size: 18px;
  color: #777777;
  text-align: center;
  margin-top: 15px;
}
#edit_action .admin_actions {
  margin-top: 20px;
  text-align: center;
}
.admin_actions .btn{
  font-size: 18px; 

}
.card-header i,.card-header span{
  vertical-align: -webkit-baseline-middle;
}
#table-list td span, .main-content #admin-list td span {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
}
.card-header .btn.action {
  line-height: 20px;
  float: right;
}
.btn-default {
  color: #636b6f !important;
  background-color: #f7f7f7 !important;
  border-color: #ccc !important;
}
.container-btn--action-table .btn-outline-danger {
  color: #dc3545 !important;
}
.container-btn--action-table .btn-outline-danger:hover {
  color: #fff !important;
}
.main-content-wrapper, .main-content-wrapper {
  max-width: 750px;
  margin: 0 auto 50px auto;
}
.main-content-wrapper h1 {
  font-size: 37px;
  font-weight: 700;
  text-align: center;
  color: black !important;
}
.main-content-wrapper form label{
  color: black !important;
}

.breadcrumb--admin .breadcrumb--list .breadcrumb--item{
  margin-left: 0.5rem !important;
  &:hover{
    text-decoration: unset;
    color: #4e73df !important;
  }
  &:first-child{
    margin-left: 0rem !important;
  }
  &::after{
    content: ">";
    margin-left: 0.5rem !important;
  }
  &:last-child::after{
    margin-left: 0.5rem !important;
    content: "";
  }
  &:last-child:hover{
    text-decoration: unset;
    color: unset !important;
    cursor: not-allowed;
  }
}

.m-dropzone.m-dropzone--success {
  border-color: #34bfa3;
}

.dropzone.dz-clickable {
  cursor: pointer;
}
.m-dropzone {
  border: 2px dashed #ebedf2;
}
.m-dropzone {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.dropzone {
  background: #fff;
  padding: 20px 20px;
  width: -webkit-fill-available;
  height: 247px;
}
.dropzone, .dropzone * {
  box-sizing: border-box;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}

.dropzone .dz-message {
  text-align: center;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone, .dropzone * {
  box-sizing: border-box;
}
.photos-list-container {
  padding-left: unset;
  height: 230px;
}
.photo-list {
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 15px;
  height: 230px;
  width: -webkit-fill-available;
}
.input-photo {
  position: absolute;
  left: 0.5rem;
  top: 2rem;
  height: 250px;
  width: 380px;
}
.imagina-breadcrumb {
  .breadcrumb-wrapper{
    a{
      &:last-child{
        color: #A9A9A9;
        &:hover{
          cursor: no-drop;
          text-decoration: unset !important;
          color: #A9A9A9 !important;
        }
      }
    }
  }
}
.imagina-breadcrumb {
  padding: 0 40px;
  background: none;
  height: 63px;
  line-height: 63px;
  position: relative;
  .breadcrumb-wrapper{
    min-height: 100%;
    border-bottom: 1px solid #ededed;
    a{
      font-weight: 400;
      color: #494747; 
      &:hover{
        color: #007bff !important;
        text-decoration: unset !important;
      }
    }
  }
  .breadcrumb-actions{
    position: absolute;
    height: 83px;
    top: 0;
    right: 40px;
  }
}
.main-content .imagina-breadcrumb .breadcrumb-actions a{
  line-height: 23px;
  padding: 7px 30px;
  font-size: 14px;
  margin-right: 10px;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block !important;
  padding-right: 0.5rem !important;
  color: #95a0a9 !important;
  font-family: "Font Awesome 5 Free" !important;
  content: "\F105" !important;
  font-weight: 600 !important;
}
.btn-default {
  color: #636b6f !important;
  background-color: #f7f7f7 !important;
  border-color: #ccc !important;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active{
    color: #eaecf4;
    font-weight: 700;
    background-color: #4e73df;
}
#edit_action{
  .custom-control-input:disabled ~ .custom-control-label::before {
    color: #fff;
    border-color: #4e73df;
    background-color: #4e73df;
    cursor: no-drop;
  }
  .custom-control-input:disabled ~ .custom-control-label::after {
    cursor: no-drop;
  }
  .custom-switch{
    .custom-control-input:disabled:checked ~ .custom-control-label::before {
      color: #fff;
      border-color: #4e73df;
      background-color: #4e73df;
    }
  }
  label{
    width: -webkit-fill-available;
    a{
      float: right;
      margin-right: 1rem;
      font-size: small;
      margin-top: 5px;
      &:hover{
        padding-left: 2px;
        text-decoration: unset;
        margin-right: .8rem;
      }
    }
  }
}
#dropzone {
  margin-bottom: 3rem !important; 
}
.dropzone {
  border: 2px dashed #345bcc !important;
  border-radius: 5px !important;
  background: white !important; 
  height: auto !important;
  .dz-message{
    font-weight: 400 !important; 
    .note {
      font-size: 0.8em !important;
      font-weight: 200 !important;
      display: block !important;
      margin-top: 1.4rem !important; 
    }
  }
}
table{
  &.dataTable{
    thead{
      .sorting,.sorting_asc,.sorting_desc,.sorting_asc_disabled,.sorting_desc_disabled{
        cursor: pointer;
        *cursor: hand;
        background-repeat: no-repeat;
        background-position: center right;
        &:before{
          right: 1em;
          content: "" !important;
        }
        &:after{
          content: "" !important;
        }
      }
      .sorting{
        background-image: url('/images/vendor/datatables.net-dt/sort_both.png?9a6486086d09bb38cf66a57cc559ade3');
      }
      .sorting_asc{
        background-image: url(/images/vendor/datatables.net-dt/sort_asc.png?9326ad44ae4bebdedd141e7a53c2a730);
      }
      .sorting_des{
        background-image: url(/images/vendor/datatables.net-dt/sort_desc.png?1fc418e33fd5a687290258b23fac4e98);
      }
      .sorting_asc_disabled{
        background-image: url(/images/vendor/datatables.net-dt/sort_asc_disabled.png?d7dc10c78f23615d328581aebcd805eb);
      }
      .sorting_desc_disabled{
        background-image: url(/images/vendor/datatables.net-dt/sort_desc_disabled.png?bda51e15154a18257b4f955a222fd66f);
      }
    }
  }
}